.bash_history
.bash_logout
.bash_profile
.bashrc
.docker-login-count
.docker/
.gitconfig
.java/
.lesshst
.owner
.repo_.gitconfig.json
.repoconfig/
.ssh/
.viminfo
bin/
docker_io_slittlewrs.cred
identity.key.enc
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state
logs/
plugins/
queue.xml.bak
secret.key
secret.key.not-so-secret
secrets/
starlingx/
updates/
userContent/
users/
workspace/
jobs/*/builds/
jobs/*/lastStable
jobs/*/lastSuccessful
jobs/*/nextBuildNumber
jobs/*/cobertura/
jobs/*/workspace/
