.bash_history
.bash_logout
.bash_profile
.bashrc
.docker-login-count
.docker/
.gitconfig
.java/
.lastStarted
.lesshst
.owner
.repo_.gitconfig.json
.repoconfig/
.ssh/
.vim/
.viminfo
credentials.xml
dl_other_from_centos_repo.sh
docker_io_slittlewrs.cred
env.properties
identity.key.enc
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state
layer-compiler/
layer-containers/
layer-distro/
layer-flock/
layer-kernel/
logs/
net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition.xml
plugins/
queue.xml.bak
secret.key
secret.key.not-so-secret
secrets/
starlingx/
stx-repo/
stx-tools/
updates/
userContent/
users/
workspace/
com*xml
env*xml
org.jenkinsci.plugins*xml
github-plugin-configuration.xml
hudson*xml
jenkins*xml
nodeMonitors.xml
queue.xml
scriptApproval.xml
jobs/delay-test-bounce/
jobs/delay-test/
jobs/delay-trigger/
jobs/*/builds/
jobs/*/lastStable
jobs/*/lastSuccessful
jobs/*/nextBuildNumber
jobs/*/cobertura/
jobs/*/workspace/
jobs/*dpanech*/
org.codefirst.SimpleThemeDecorator.xml
*dpanech*
stx-repo
caches/
cengn-debian-dl/
