<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.util.DoubleLaunchChecker</string>
  </disabledAdministrativeMonitors>
  <version>2.516.1</version>
  <numExecutors>20</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>GROUP:com.cloudbees.plugins.credentials.CredentialsProvider.View:authenticated</permission>
    <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.View:anonymous</permission>
    <permission>GROUP:hudson.model.Hudson.Administer:wrcloud_devops</permission>
    <permission>USER:hudson.model.Hudson.Administer:dpanech</permission>
    <permission>USER:hudson.model.Hudson.Administer:slittle1</permission>
    <permission>GROUP:hudson.model.Hudson.Read:authenticated</permission>
    <permission>USER:hudson.model.Hudson.Read:anonymous</permission>
    <permission>GROUP:hudson.model.Item.Read:authenticated</permission>
    <permission>USER:hudson.model.Item.Read:anonymous</permission>
    <permission>GROUP:hudson.model.View.Read:authenticated</permission>
    <permission>USER:hudson.model.View.Read:anonymous</permission>
    <permission>GROUP:jenkins.metrics.api.Metrics.View:authenticated</permission>
    <permission>USER:jenkins.metrics.api.Metrics.View:anonymous</permission>
    <permission>GROUP:org.jenkins.plugins.lockableresources.LockableResourcesManager.View:authenticated</permission>
    <permission>USER:org.jenkins.plugins.lockableresources.LockableResourcesManager.View:anonymous</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.PAMSecurityRealm" plugin="pam-auth@1.12">
    <serviceName>sshd</serviceName>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
  <nodeRenameMigrationNeeded>false</nodeRenameMigrationNeeded>
</hudson>