<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Publish build products to http://mirror.starlingx.cengn.ca</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MY_REPO_ROOT</name>
          <description>/localdisk/designer/$USER/$PROJECT</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MY_WORKSPACE</name>
          <description>/localdisk/loadbuild/$USER/$PROJECT/$TIMESTAMP</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OS</name>
          <description></description>
          <defaultValue>centos</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PUBLISH_LOGS_BASE</name>
          <description></description>
          <defaultValue>/tmp/logs</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MASTER_JOB_NAME</name>
          <description>Top of tree build job name</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
echo &quot;MY_REPO_ROOT=$MY_REPO_ROOT&quot;
echo &quot;MY_WORKSPACE=$MY_WORKSPACE&quot;
echo &quot;OS=$OS&quot;
echo &quot;PUBLISH_LOGS_BASE=$PUBLISH_LOGS_BASE&quot;
echo &quot;MASTER_JOB_NAME=$MASTER_JOB_NAME&quot;

[ -n &quot;$MY_REPO_ROOT&quot; ]
[ -n &quot;$MY_WORKSPACE&quot; ]
[ -n &quot;$OS&quot; ]
[ -n &quot;$PUBLISH_LOGS_BASE&quot; ]
[ -n &quot;$MASTER_JOB_NAME&quot; ]

export DISTRO=&quot;$OS&quot;


# Note: should probably discover this, rather than hard code it
LAYERS=( &quot;std&quot; &quot;rt&quot; &quot;installer&quot; &quot;containers&quot;)

mkdir -p $PUBLISH_LOGS_BASE

ENV_FILE=&quot;~/workspace/$MASTER_JOB_NAME/env.properties&quot;
if [ -f &quot;$ENV_FILE&quot; ]; then
    \cp -v $ENV_FILE $PUBLISH_LOGS_BASE/
fi


for LAYER in $(find $MY_WORKSPACE -maxdepth 2 -type d -name rpmbuild -exec dirname {} \; | xargs --max-lines=1 --no-run-if-empty basename); do
    for f in $(find $MY_WORKSPACE/$LAYER -maxdepth 1 -type rf -name &apos;*.log&apos;); do
        mkdir -p $PUBLISH_LOGS_BASE/std/
        \cp -v $f $PUBLISH_LOGS_BASE/std/
    done
    if [ -f $MY_WORKSPACE/build-$LAYER.log ]; then
        \cp -v $MY_WORKSPACE/build-$LAYER.log $PUBLISH_LOGS_BASE/
    fi
    for d in $(find $MY_WORKSPACE/$LAYER/results/ -type f -name &apos;fail&apos; -exec dirname {} \; ); do
        b=$(basename $d)
       mkdir -p $PUBLISH_LOGS_BASE/std/failed-packages/$b
        cp -v $d/*log $PUBLISH_LOGS_BASE/std/failed-packages/$b/
    done
done

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.22">
      <recipients>scott.little@windriver.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
  </buildWrappers>
</project>