<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>0 0 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>CENGN=slittle@build.starlingx.cengn.ca
RSYNC_SSH=&quot;ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i $HOME/.ssh/cengn&quot;
RSYNC_SUDO=&quot;--rsync-path=sudo /usr/bin/rsync&quot;

rsync -avuzH -e &quot;$RSYNC_SSH&quot; --progress --exclude=&apos;*.new/&apos; $CENGN:/export/mirror/lat-sdk /localdisk/backups/CENGN/export/mirror/

rsync -avuzH -e &quot;$RSYNC_SSH&quot; --progress --exclude=&apos;*.new/&apos; $CENGN:/export/mirror/centos /localdisk/backups/CENGN/export/mirror/

rsync -avuzH -e &quot;$RSYNC_SSH&quot; --progress --exclude=&apos;*.new/&apos; $CENGN:/export/mirror/debian /localdisk/backups/CENGN/export/mirror/

rsync -avuzH -e &quot;$RSYNC_SSH&quot; --progress $CENGN:/export/mirror/starlingx/rc /localdisk/backups/CENGN/export/mirror/starlingx/

rsync -avuzH -e &quot;$RSYNC_SSH&quot; --progress $CENGN:/export/mirror/starlingx/release /localdisk/backups/CENGN/export/mirror/starlingx/

rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$CENGN:/var/lib/jenkins/*.xml&quot; &quot;/localdisk/backups/CENGN/var/lib/jenkins/&quot;

rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$CENGN:/var/lib/jenkins/bin&quot; &quot;/localdisk/backups/CENGN/var/lib/jenkins/&quot;

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/designer/jenkins/*rc-*&quot; &quot;/localdisk/backups/CENGN/localdisk/designer/jenkins/&quot; || $(case &quot;$?&quot; in 0|23) exit 0 ;; *) exit $?; esac)

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/loadbuild/jenkins/*rc-*&quot; &quot;/localdisk/backups/CENGN/localdisk/loadbuild/jenkins/&quot;

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/designer/jenkins/debian-master*&quot; &quot;/localdisk/backups/CENGN/localdisk/designer/jenkins/&quot; || $(case &quot;$?&quot; in 0|23) exit 0 ;; *) exit $?; esac)

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/loadbuild/jenkins/debian-master*&quot; &quot;/localdisk/backups/CENGN/localdisk/loadbuild/jenkins/&quot;

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/designer/jenkins/master*&quot; &quot;/localdisk/backups/CENGN/localdisk/designer/jenkins/&quot; || $(case &quot;$?&quot; in 0|23) exit 0 ;; *) exit $?; esac)

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/loadbuild/jenkins/master*&quot; &quot;/localdisk/backups/CENGN/localdisk/loadbuild/jenkins/&quot;

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/designer/jenkins/f-centos8*&quot; &quot;/localdisk/backups/CENGN/localdisk/designer/jenkins/&quot; || $(case &quot;$?&quot; in 0|23) exit 0 ;; *) exit $?; esac)

# sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/loadbuild/jenkins/f-centos8*&quot; &quot;/localdisk/backups/CENGN/localdisk/loadbuild/jenkins/&quot;

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/designer/jenkins/docker*&quot; &quot;/localdisk/backups/CENGN/localdisk/designer/jenkins/&quot; || $(case &quot;$?&quot; in 0|23) exit 0 ;; *) exit $?; esac)
sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/designer/jenkins/piped*&quot; &quot;/localdisk/backups/CENGN/localdisk/designer/jenkins/&quot; || $(case &quot;$?&quot; in 0|23) exit 0 ;; *) exit $?; esac)
sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/localdisk/designer/jenkins/cgcs_file_utils&quot; &quot;/localdisk/backups/CENGN/localdisk/designer/jenkins/&quot; || $(case &quot;$?&quot; in 0|23) exit 0 ;; *) exit $?; esac)

sudo /usr/bin/rsync -avuzH -e &quot;$RSYNC_SSH&quot; &quot;$RSYNC_SUDO&quot; &quot;$CENGN:/etc&quot; &quot;/localdisk/backups/CENGN/&quot;



rsync -avuzH -e &quot;$RSYNC_SSH&quot; --exclude &apos;/*/*/*/*/*/*/*/&apos; -f&quot;+ */&quot; -f&quot;+ config.xml&quot; -f&quot;- *&quot; &quot;$CENGN:/var/lib/jenkins/jobs&quot; &quot;/localdisk/backups/CENGN/var/lib/jenkins/&quot;

# rsync -avuzH -e &quot;$RSYNC_SSH&quot; --exclude /secrets/ &quot;$CENGN:/var/lib/jenkins&quot; &quot;/localdisk/backups/CENGN/var/lib/jenkins-all/&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.22"/>
  </buildWrappers>
</project>