<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>6 18 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export PATH=/usr/local/bin:$PATH
MY_REPO_DIR=/localdisk/designer/${USER}/${JOB_NAME}/v2/repoes
MIRROR_DIR=/export/mirror/
IMAGE_NAME=debian-downloads-downloader-v3-${USER}
CONTAINER_NAME=debian-downloads-downloader-v3b-${USER}

mkdir -p ${MY_REPO_DIR}

cd $HOME/cengn-debian-dl/debian-cengn/cengn-dl/debian-cengn

if docker image ls | grep -q ${IMAGE_NAME}; then
    echo &quot;found pre-existing docker image &apos;${IMAGE_NAME}&apos;&quot;
else
    echo &quot;build docker image &apos;${IMAGE_NAME}&apos;&quot;
   pushd docker/
   docker build --build-arg MYUID=$(id -u) --build-arg MYUNAME=${USER} -t ${IMAGE_NAME} -f Dockerfile .
   popd
fi

docker run -t --rm --name ${CONTAINER_NAME} \
   -v $PWD/opt:/opt \
   -v $PWD/inputs:/inputs \
   -v ${MY_REPO_DIR}:/repoes \
   -v $MIRROR_DIR:/outputs \
   ${IMAGE_NAME}
   


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.23">
      <recipients>scott.little@windriver.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.9"/>
  </buildWrappers>
</project>
