<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>copy logs to website</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>14</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TIMESTAMP</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NUM</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NM</name>
          <description>build name</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DISTRO</name>
          <description></description>
          <defaultValue>centos</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PUBLISH_LOGS_BASE</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>[ -n &quot;$BUILD_NM&quot; ]
[ -n &quot;$BUILD_NUM&quot; ]
[ -n &quot;$PUBLISH_LOGS_BASE&quot; ]

echo &quot;BUILD_NM=$BUILD_NM&quot;
echo &quot;BUILD_NUM=$BUILD_NUM&quot;
echo &quot;PUBLISH_LOGS_BASE=$PUBLISH_LOGS_BASE&quot;

# [ -n &quot;$BRANCH&quot; ]
# [ -n &quot;$TIMESTAMP&quot; ]
# [ -n &quot;$DISTRO&quot; ]

FROM=&quot;/var/lib/jenkins/jobs/${BUILD_NM}/builds/${BUILD_NUM}/log&quot;
[ -f &quot;$FROM&quot; ]

# 
# echo &quot;BRANCH=$BRANCH&quot;
# echo &quot;TIMESTAMP=$TIMESTAMP&quot;
# 
# PUBLISH_BRANCH=&quot;&quot;
# PUBLISH_TIMESTAMP=&quot;&quot;
# 
# if [ &quot;$BRANCH&quot; == &quot;master&quot; ]; then
#     PUBLISH_BRANCH=$BRANCH
#     PUBLISH_TIMESTAMP=$TIMESTAMP
# elif [ $(echo $BRANCH | grep &apos;^[0-9][0-9][0-9][0-9][.][0-9][0-9][.][0-9]*$&apos; ) ]; then
#     # Release tag 2018.10.1 -&gt; r2018.10
#     PUBLISH_BRANCH=$(echo $BRANCH | sed &apos;s/\([0-9][0-9][0-9][0-9][.][0-9][0-9]\).*/r\1/&apos;)
#     PUBLISH_TIMESTAMP=$BRANCH
# elif [ $(echo $BRANCH | grep  &apos;^[0-9][0-9][0-9][0-9][.][0-9][0-9].[0-9]*b[0-9]*$&apos; ) ]; then
#     PUBLISH_BRANCH=$(echo $BRANCH | sed &apos;s/\([0-9][0-9][0-9][0-9][.][0-9][0-9]\).*/m\1/&apos;)
#    PUBLISH_TIMESTAMP=$BRANCH
# fi
# 
# echo &quot;PUBLISH_BRANCH=$PUBLISH_BRANCH&quot;
# echo &quot;PUBLISH_TIMESTAMP=$PUBLISH_TIMESTAMP&quot;
# 
# Assertions, did we get a BRANCH we understand how to parse
# [ -n &quot;$PUBLISH_BRANCH&quot; ]
# [ -n &quot;$PUBLISH_TIMESTAMP&quot; ]
# 
# PUBLISH_DISTRO_BASE=/export/mirror/starlingx/$PUBLISH_BRANCH/$DISTRO
# PUBLISH_BUILD_BASE=$PUBLISH_DISTRO_BASE/$PUBLISH_TIMESTAMP
# 
# echo &quot;PUBLISH_BUILD_BASE=$PUBLISH_BUILD_BASE&quot;
# 
# PUBLISH_LOGS_BASE=$PUBLISH_BUILD_BASE/logs

mkdir -p $PUBLISH_LOGS_BASE
\cp $FROM $PUBLISH_LOGS_BASE/jenkins-${BUILD_NM}-${BUILD_NUM}.log
~/bin/log2html  $PUBLISH_LOGS_BASE/jenkins-${BUILD_NM}-${BUILD_NUM}.log

    


    
    </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>